<DOCTYPE html5>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <title>Cloogle</title> 
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h1>Cloogle</h1>
                    </a>
                </div>

                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li><a href="contact.html">Home</a></li>
                            <li><a href="portfolio.html">About Us</a></li>
                            <li><a href="aboutme.html">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>

    <br>	
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 panel panel-default text-center">
        <!-- We can put our about us message here -->
        <h1>Welcome to our website!</h1>
        <p>Cloogel gives you an alternative to search from google, where you can search your choice of apparel. When you search a category or specific item or search will return 10 results for you to browse. There will be a description, price and a link to the retailer for your purchase.</p>
    </div>
    <br>
    <!-- These divs with card class are for our pictures and short message/links -->
    <div class="container-fluid">
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="../public/assets/img/Ben.jpg" alt="Card image cap">
		    <div class="card-body">
		      <h4 class="card-title">Ben Allen</h4>
		      <p class="card-text">Georgia Tech's Coding Bootcamp student</p>
		    </div>
		    <div>
		    	<a href="https://www.linkedin.com/in/ben-allen-jr-12aa4298/" target= "_blank"><img src="../public/assets/img/linkedin-128.png" alt="linkedin" class="rounded-circle"></a>
		    	<a href="https://github.com/bjallen10" target= "_blank"><img src="../public/assets/img/github-128.png" alt="github" class="rounded-circle"></a>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"><!-- Last updated 3 mins ago --></small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="../public/assets/img/Meguel.jpg" alt="Card image cap">
		    <div class="card-body">
		      <h4 class="card-title">Meguel Chavez</h4>
		      <p class="card-text">Georgia Tech's Coding Bootcamp student</p>
		    </div>
		    <div>
		    	<a href="https://www.linkedin.com/in/meguel-chavez" target= "_blank"><img src="../public/assets/img/linkedin-128.png" alt="linkedin" class="rounded-circle"></a>
		    	<a href="https://github.com/mc4tech" target= "_blank"><img src="../public/assets/img/github-128.png" alt="github" class="rounded-circle"></a>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"><!-- Last updated 3 mins ago --></small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="../public/assets/img/Moshin.jpg" alt="Card image cap">
		    <div class="card-body">
		      <h4 class="card-title">Moshin Lalani</h4>
		      <p class="card-text">Georgia Tech's Coding Bootcamp student</p>
		    </div>
		    <div>
		    	<a href="https://www.linkedin.com/in/moshin-lalani-7053b813a/" target= "_blank"><img src="../public/assets/img/linkedin-128.png" alt="linkedin" class="rounded-circle"></a>
		    	<a href="https://github.com/Moshin4501" target= "_blank"><img src="../public/assets/img/github-128.png" alt="github" class="rounded-circle"></a>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"><!-- Last updated 3 mins ago --></small>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="#" alt="Card image cap">
		    <div class="card-body">
		      <h4 class="card-title">Jessica Thompson</h4>
		      <p class="card-text">Georgia Tech's Coding Bootcamp student</p>
		    </div>
		    <div>
		    	<a href="https://www.linkedin.com/in/jessica-thompson-311b5647/" target= "_blank"><img src="../public/assets/img/linkedin-128.png" alt="linkedin" class="rounded-circle"></a>
		    	<a href="https://github.com/champagneponcey" target= "_blank"><img src="../public/assets/img/github-128.png" alt="github" class="rounded-circle"></a>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"><!-- Last updated 3 mins ago --></small>
		    </div>
		  </div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
