<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

    <!--link to google fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Encode+Sans+Semi+Expanded|Mukta+Malar|Oxygen|Poiret+One|Quicksand" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <!-- Nav bar & logo pic -->
        <!-- <div class="jumbotron"> -->
        <nav class="navbar navbar-expand-lg" id="band">

            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- Left-align image -->
                    <div class="media">
                        <a class="navbar-brand" href="../views/index.html">
                            <img id="logo-image" src="http://i.imgur.com/zBy3RDE.png?1" height="100">
                        </a>
                        <h1 style="display: inline;">loogle</h1>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li><a href="../views/index.html">Home</a></li>
                            <li><a href="../views/about.html">About Us</a></li>
                            <li><a href="../views/contact.html">Contact</a></li>
                            <li><a href="../User_login/public/login.html">Login</a></li>
                        </ul>
                    </div>
                    <!-- </nav> -->
                </nav>
            </div>
        </nav>
    </div>

    <h2>Contact Us</h2>
    <br>
    <div id="contact">
        <form>
            <p>Name</p>
            <input type="text" name="name" size="40">
            <p>Email</p>
            <input type="text" name="mail" size="40">
            <p>Message</p>
            <textarea rows="4" cols="60"></textarea>
            <br>
            <input type="submit" name="Send" id="button">

        </form>
    </div>

    <footer class="bottom footer">
        <div class="footer">

        </div>
    </footer>
</body>

</html>