body {
    height: auto;
    width: auto;
    background-image: url("http://i.imgur.com/BlkBiiU.png");
    padding-bottom: 20px;
}

.media {}

#logo-image {
    margin-right: 0px;
}

h1 {
    margin-top: 25px;
    color: #f7f8fb;
    font-family: 'Oxygen', sans-serif;
}

navbar {
    display: inline-block;
}

nav li {
    display: inline-block;
    padding: 10px 10px;
}

a {
    color: #f7f8fb;
}

.carousel,
.slide {
    height: auto;
    width: auto;
    align-content: center;
    margin: auto;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    align-content: center;
}

.d-block {
    height: 100%;
    width: 100%;
}

#g1{
    margin-top: 5%;
}

.card-img-top{
    height: 75%;
}